body{
    background-color: #f5f5f5;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
}

h1{
    font-size: 28px;
    color: #333;

}

input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0056b3;

}

#result{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

@keyframes fadeIn{
     0%{
        opacity: 0;
        transform: translate(20px);
     }

     100%{
        opacity: 1;
        transform: translate(0);
     }
}

.fadeIn{
    animation: fadeIn 0.5s ease-in-out;
}