body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*All these settings are to divide page and write in center of page*/
    background-color: #a9b9c9;  
}

.container{  /*Division class name in html*/
 text-align: center;
} 

span{
    color: red;
}
button{
    background-color: hotpink;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    border: 2px solid honeydew;
    box-shadow: 0 0 12px 8px rgba(0.0,0,0.3);
    cursor: pointer;
    border-radius: 5px;
    transition: backgrounc-color 0.3s;
}

button:hover{
    background-color: #6c717d;
    color:#f0f0f0;
}
