*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color: #b0b0b0;
    min-height: 100vh;
    color: #a52929;
    line-height: 1.5;
    display: grid;
    place-items: center;
    text-align: center;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    animation: containerAnimation 1s ease-in-out;
}

@keyframes containerAnimation {
    from {
        transform: translate(-20px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

h1{
    font-size: 36px;
    margin-bottom: 12px;   
}

#value{
    font-size: 72px;
    font-weight: bold;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

#value.negative{
    color: red;
}

.btn{
    text-transform: uppercase;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover{
   background-color: #0056b3;
}
